html {
	background: url(../img/index/face3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/index_back.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/index_back.jpg', sizingMethod='scale')";
}
/*icon*/
#icon_wrapper {
	position: fixed;
	bottom: 20%;
	height: 24%;
	margin: 0 auto;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 4;
}

.icon_menu {
	padding: 1% 0;
	float: left;
	position: absolute;
	left: 38%;
}

a.icon_navigation {
	
	padding: 0;
}
ul.icon_menu {
	list-style: none;
	
	
}
ul.icon_menu li {
	list-style: none;
	display: inline-block;
	*display: inline;
} 
.image_margin{
	margin:0px -1.4px;
}
.image_size{
	width: 111px;
	height: auto;
}

#dance_img{
	box-shadow: none;
	-webkit-filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
	filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
}
#ayur_img{
	box-shadow: none;
	-webkit-filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
	filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
}
#explore_img{
	box-shadow: none;
	-webkit-filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
	filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
}
/*text*/

#text_icon_wrapper {
	position: fixed;
	bottom: 0px;
	height: 24%;
	margin: 0 auto;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 1;
	
}

.text_menu {
	padding: 1% 0;
	float: left;
	position: absolute;
	left: 38%;
}

a.text_navigation {
	
	padding: 0;
}
ul.text_menu {
	list-style: none;
	
	
}
ul.text_menu li {
	list-style: none;
	display: inline-block;
	*display: inline;
} 
.text_margin{
	margin:0px -1.4px;
}
.text_size{
	width: 111px;
	height: auto;
}

#dance_text{
	box-shadow: none;
	-webkit-filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
	filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
}
#ayur_text{
	box-shadow: none;
	-webkit-filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
	filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
}
#explore_text{
	box-shadow: none;
	-webkit-filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
	filter: drop-shadow(.1em .1em .3em rgba(0,0,0,.7));
}
/*footer*/
#footer_wrapper {
	position: fixed;
	bottom: 0px;
	height: 25.3%;
	margin: 0 auto;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 2;
}

.footer_menu {
	padding: 1% 0;
	float: left;
	position: absolute;
	left: 38%;
}
li.footer_divider {
	border-right: none;
	border-left: none;
	height: 40px;
	margin: 3px 3px;
}
a.footer_navigation {
	
	padding: 0;
}
ul.footer_menu {
	list-style: none;
	padding: 0px;
}
ul.footer_menu li {
	list-style: none;
	display: inline-block;
	*display: inline;
}
.square {
	width: 111px;
	height: 255px;
	margin: 0px -1.7px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.1);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.square:hover {
	height: 190px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.green {
	background: green;
}
.red {
	background: red;
}
.yellow {
	background: yellow;
}