@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('/bsarchitect/css/fonts/champagne__limousines-webfont.eot');
    src: url('/bsarchitect/css/fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'), url('/bsarchitect/css/fonts/champagne__limousines-webfont.woff') format('woff'), url('/bsarchitect/css/fonts/champagne__limousines-webfont.ttf') format('truetype'), url('/bsarchitect/css/fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'champagne__limousinesbold';
    src: url('/bsarchitect/css/fonts/champagne__limousines_bold-webfont.eot');
    src: url('/bsarchitect/css/fonts/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bsarchitect/css/fonts/champagne__limousines_bold-webfont.woff') format('woff'), url('/bsarchitect/css/fonts/champagne__limousines_bold-webfont.ttf') format('truetype'), url('/bsarchitect/css/fonts/champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: black url(../images/plus.png) repeat;
}
ol, ul, a {
    list-style: none;
}
.container {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.head_part {
    position: fixed;
    width: 99%;
    height: 10%;
    top: 0px;
}
.image_container {
    position: relative;
    top: 10.5%;
    width: 99%;
    height: 77.8%;
}
.image_wrapper {
    position: absolute;
    top: .1%;
    left: 1%;
    margin: auto;
    height: 100%;
    width: 99%;
}
#gallery {
    position: absolute;
    top: .2%;
    left: 3%;
    margin: auto;
    height: 99.4%;
    width: 96.9%;
    overflow-y: auto;
}
#gallery img {
    margin: 5px;
    width: 200px;
    height: 200px;
}

.foot_part {
    position: fixed;
    bottom: 0px;
    width: 99%;
    height: 10%;
}
/*logout */
.logout {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
}
a.logout {
    width: 40px;
    height: 40px;
    background: url(../images/exit.png) no-repeat;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
a.logout:hover {
    background: url(../images/exit1.png) no-repeat;
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -moz-transform: scale(1.1,1.1); /* Firefox */
    -webkit-transform: scale(1.1,1.1); /* Safari and Chrome */
    -o-transform: scale(1.1,1.1); /* Opera */
}
a.logout:active {
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -moz-transform: scale(1,1); /* Firefox */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
}
/* home */
.dock {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 1.5%;
}
a.dock img {
    height: 60px;
    width: 60px;
}
a.dock {

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
a.dock:hover {

    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -moz-transform: scale(1.1,1.1); /* Firefox */
    -webkit-transform: scale(1.1,1.1); /* Safari and Chrome */
    -o-transform: scale(1.1,1.1); /* Opera */
}
a.dock:active {
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -moz-transform: scale(1,1); /* Firefox */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
}
/* scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(1,0,0,0.1);
    background: #333;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
} 